<p id="notice"><%= notice %></p>

<h1>Insurance Certificates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurance_certificates.each do |insurance_certificate| %>
      <tr>
        <td><%= link_to 'Show', insurance_certificate %></td>
        <td><%= link_to 'Edit', edit_insurance_certificate_path(insurance_certificate) %></td>
        <td><%= link_to 'Destroy', insurance_certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insurance Certificate', new_insurance_certificate_path %>
