<section class="top-nav">
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  <div>
    <%= image_tag ("Constator-logo.png"), width: 80 %>
  </div>
  <div>
    <%= image_tag ("icons-nav.png"), width: 50 %>
  </div>
  <ul class="menu">
    <li><%= link_to "Mes constats", reports_path%><span></span></li>
    <li><%= link_to "Mes conducteurs", drivers_path%><span></span></li>
    <li><%= link_to "Mes véhicules", vehicles_path%><span></span></li>
    <li><hr class="solid"></li>
    <li>
        <%= link_to destroy_user_session_path, :class => "nav-out", data: { turbo_method: :delete }, method: :delete do %>
        <i class="fa-solid fa-right-from-bracket"></i>                  Se déconnecter<% end %>
    </li>
    <li></li>
  </div>
  </ul>
</section>
