<%= render "shared/navbar" %>
<div class=blurry>
  <div class="report-bg">
    <div class="report-title">
      <div>
        <h1>Mes conducteurs</h1>
      </div>
      <div>
        <%= link_to new_driver_path do %>
          <%= image_tag ("Vector.png") %>
        <% end %>
      </div>
    </div>
  <%# <%= link_to "New Driver", new_driver_path %>

    <div class="filter">
      <p><i class="fa-solid fa-filter"></i>  Trier</p>
    </div>
      <% @drivers.each do |driver| %>
        <div class="report-items">
          <div class="report-info">
            <p><%= driver.driver_licence_number %></p>
          </div>
          <div class="report-icons">
            <%= link_to driver do %> <i class="fa-solid fa-eye"></i> <% end %>
            <%= link_to edit_driver_path(driver) do %> <i class="fa-solid fa-pen-to-square"></i> <% end %>
            <%= link_to driver, method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa-solid fa-trash-can"></i> <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
