<%= simple_form_for @report do |report| %>
  <div class= "parent">
    <div class="div1">
      <label for="driver" class="field_show_edit">Conducteur:</label>
    </div>
    <div class="div2">
      <input class="field-writer-new" type="search" id="driver" name="driver" placeholder="Cherchez le nom ici..." data-behavior="autocomplete">
    </div>
    <div class="div3">
      <label for="vehicle_id" class="field_show_edit">Véhicule:</label>
    </div>
    <div class="div4">
      <select class="field-writer-new" id="vehicle_id" name="vehicle_id">
      <option selected>Choisissez votre véhicule</option>
      <%= Vehicle.all.each do |vehicle| %>
        <% if vehicle.user_id == current_user.id %>
        <option value = "<%= vehicle.id %>"><%= vehicle.registration_number %> <%= vehicle.brand %> <%= vehicle.model %></option>
        <% end %>
      <% end %>
      </select>
    </div>
    <div class="div5">
      <label for="address" class="field_show_edit">Addresse:</label>
    </div>
    <div class="div6">
    <input class="field-writer-new" type="input" id="address" name="report[address]" placeholder="Addresse">
    </div>
    <div class="div7">
      <label for="observations" class="field_show_edit">Date:</label>
    </div>
    <div class="div8">
      <input class="form-control string optional field-writer-new flatpickr-input flatpickr-mobile" tabindex="1" type="datetime-local" placeholder="">
    </div>
      <% # disabled: !@disabled %>
    <div class="div9">
      <label for="observations" class="field_show_edit">Observation:</label>
    </div>
    <div class="div10">
      <input class="form-control string optional field-writer-new" type="text" name="report[observations]" id="report_observations">
    </div>
  </div>
  <%= report.input_field :drawing, as: :hidden, class: "signature_pad_input" %>
  <div class="drawing_pad text-center">
    <div class="field" style="margin-bottom:10px">Dessin de l'accident</div>
    <div class="drawing_pad_body">
      <canvas id="canv"></canvas>
    </div>
    <div class="d-flex">
      <button type="button" class="btn btn-default signature_pad_clear">Supprimer le dessin</button>
      <button type="button" class="btn btn-default signature_pad_save">Sauvegarder le dessin</button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= report.button :submit, value:"Créer Constat" , class: "btn-save-report" %>
  </div>
<% end %>
