<h1>Editing Report</h1>


<% if current_user.driver.id == @report.driver_1_id %>
  <% disable_driver_1 = false%>
  <% disable_driver_2 = true %>
<% else %>
  <% disable_driver_1 = true %>
  <% disable_driver_2 = false %>
<% end %>

<p>disable_driver_1 : <%= disable_driver_1 %> disable_driver_2 : <%= disable_driver_2 %> </p>

<p>a</p>
<% @report.signatures.each do |signature| %>
  <p>+1</p>
   <%= image_tag signature %>
<% end %>

<%= render 'form', report: @report %>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
