<%= render "shared/navbar" %>
<div class=blurry>
  <div class="report-bg">
    <div class="report-title">
      <div>
        <h1>Mes constats</h1>
      </div>
      <div>
        <%= link_to new_report_path do %>
          <%= image_tag ("Vector.png") %>
        <% end %>
      </div>
    </div>
    <div class="filter">
      <p><i class="fa-solid fa-filter"></i>  Trier</p>
    </div>
      <% @reports.each do |report| %>
        <div class="report-items">
          <div class="report-info">
            <p><%= report.address %></p>
          </div>
          <div class="report-icons">
            <%= link_to new_report_path do %> <i class="fa-solid fa-eye"></i> <% end %>
            <%= link_to edit_report_path(report) do %> <i class="fa-solid fa-pen-to-square"></i> <% end %>
            <%= link_to report, method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa-solid fa-trash-can"></i> <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>

<% Report.all.each do |report|%>
  <% if current_user.driver.id == report.driver_1_id || current_user.driver.id == report.driver_2_id %>
    <%= link_to "report #{report.id}", report_path(report) %>
  <% end %>
<% end %>
