<%= render "shared/navbar" %>
<div class="report-container">
  <div class="report-main">
    <div class="row" style="align-items: center;">
      <div class="col-8">
        <h1 class="report-creation-text">Mes constats</h1>
      </div>
      <div class="col-4 add-report-button">
        <a href="<%= new_report_path %>"><i class="fa-solid fa-circle-plus"></i></a>
      </div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= link_to 'Show', report %></td>
          <td><%= link_to 'Edit', edit_report_path(report) %></td>
          <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
