<%= render "shared/navbar" %>
<div class=blurry>
  <div class="report-bg">
    <div class="report-show-infos">
      <div class="report-header">
        <div>
          <h1>Constat</h1>
        </div>
        <div>
              <%= link_to edit_report_path(@report) do %> <i class="fa-solid fa-pen-to-square"></i> <% end %>
              <%= link_to @report, method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa-solid fa-trash-can"></i> <% end %>
        </div>
      </div>
      <div class="report-infos">
        <div class="parent_show">
          <div class="div1"><label class="field">Date:</label></div>
          <div class="div2"><p class="field-data"><%= @report.created_at.strftime("%A %d %B,%Y") %></p></div>
          <div class="div3"><label class="field">Status:</label></div>
          <div class="div4"><p class="field-data"><%= @report.report_status.status_description %></p></div>
          <div class="div5"><label class="field">Notes:</label></div>
          <div class="div6"><p class="field-data"><%= @report.observations %></p></div>
          <div class="div7"><label class="field">Address:</label></div>
          <div class="div8"><p class="field-data"><%= @report.address %></p></div>
        </div>
          <div id="map" class="map-report"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
          </div>
        <label class="field">Dessin de l'accident:</label>
        <div class="map-report">
        <% if @report.drawing.attached? %>
          <%= cl_image_tag @report.drawing.key, style: "width= 200px" %>
          <% else %>
          <p>Pas de dessin</p>
        <% end %>

        </div>
        <div class="map-report">
         <% if @report.signature_driver_1.attached? %>
          <%= image_tag @report.signature_driver_1, style: "width= 200px" %>
        <% end %>
        </div>
        <div class="map-report">
        <% if @report.signature_driver_2.attached? %>
          <%= image_tag @report.signature_driver_2 %>
        <% end %>
        </div>
        <div style="height:2vh;width:100%">
        </div>
      </div>
    </div>
  </div>
</div>
