<%= render "shared/navbar" %>
<div class=blurry>
  <div class="report-bg">
    <div class="report-show-infos">
      <div class="report-header">
        <div>
          <h1>Constat</h1>
        </div>
        <div>
              <%= link_to edit_report_path(@report) do %> <i class="fa-solid fa-pen-to-square"></i> <% end %>
              <%= link_to @report, method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa-solid fa-trash-can"></i> <% end %>
        </div>
      </div>
      <div class="report-infos">
        <div class="d-flex"><label class="field">Date:</label><p class="field-data"><%= @report.created_at.strftime("%A %d %B,%Y") %></p></div>
        <div class="d-flex"><label class="field">Status:</label><p class="field-data"><%= @report.report_status.status_description %></p></div>
        <label class="field">Address:</label>
        <p class="field-data"><%= @report.address %></p>
          <div id="map" class="map-report"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
          </div>
        <label class="field">Observations:</label>
        <p class="field-data"><%= @report.observations %></p>
      </div>
    </div>
  </div>
</div>
